<div class="my-3">
    <h2>FromEvent</h2>
</div>
<br>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Add Video
            </div>
            <div class="card-body">
                <div #addbtn class="btn btn-primary">Add</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                List
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                List
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
</div>