<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">of-From</a>
            </li>
            <li>
                <a routerLink="toArray">toArray</a>
            </li>
            <li>
                <a routerLink="custom">custom-observable</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="retry">Retry</a>
            </li>
            <li>
                <a routerLink="debounceTime">DebounceTime</a>
            </li>
            <li>
                <a routerLink="subject">Subject</a>
            </li>
            <li>
                <a routerLink="replay">Replay Subject</a>
            </li>
           
        </ul>
    </div>
</div>