ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


ul.techList li {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}


ul.techList.error li  {
    color: red;
    background: #f0060644;
    border-color: red;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}

ul.techList.complete li  {
    color: green;
    background: #06f04036;
    border-color: green;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}