<div class="my-3">
    <h2>Interval</h2>
</div>
<br>
<br>

<h1>{{obsMsg}}</h1>

<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
            <ul id="elContainer"></ul>
            <button class="btn btn-success">Stop</button>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
            <ul id="elContainer2"></ul>
            <button class="btn btn-success">Stop</button>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
            <ul id="elContainer3"></ul>
            <button class="btn btn-success">Stop</button>
        </div>
    </div>
</div>
</div>


