<div class="my-3">
    <h2>DebounceTime & DistinctUntil Change..</h2>
</div>
<br>
<hr>

<div class="comtainer w-50 m-auto">

<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label for="Search" class="col-sm-2 col-form-label col-form-label-lg">Search</label>
            <div class="col-sm-10">
              <input type="search" class="form-control form-control-lg"  placeholder="Search......" #myInput >
            </div>
          </div>
          <span *ngIf="reqData != null" >Req Data: <strong class="text-success">{{reqData}}</strong></span>
    </div>
</div>

    
</div>