<div class="my-3">
    <h2>of-From</h2>
</div>
<br>
<strong>Ex no. - 1 (of)</strong>

<hr>
<div class="row">
    <div class="col-md-4">
        <p class="border py-2 px-3 bg-light">
            <strong>Data:</strong> of("Ankit","Gupta","Sir")
        </p>
        <hr>
        <ul id="elContainer"></ul>
    </div>
    <div class="col-md-4">
        <p class="border py-2 px-3 bg-light">
            <strong>Data:</strong> of(&#123; a: "Ankit",b: "Gupta",c: "Sir" &#125;)
        </p>
        <hr>
        <ul id="elContainer">
            <li>{{ObsMsg.a}}</li>
            <li>{{ObsMsg.b}}</li>
            <li>{{ObsMsg.c}}</li>
        </ul>
    </div>
</div>
<hr>
<br>

<strong>Ex no. - 2 (From)</strong>

<div class="row">
    <div class="col-md-4">
        <hr>
        <strong>Array</strong>
        <p class="border py-2 px-3 bg-light">
            <strong>Data:</strong>from([ Alex , John , Eliza ])
        </p>
        <hr>
        <ul id="elContainer3">

        </ul>
    </div>
    <div class="col-md-4">
        <hr>
        <strong>Promise</strong>
        <p class="border py-2 px-3 bg-light">
            <strong>Data:</strong>Promise to Observable
        </p>
        <hr>
        <ul id="elContainer4">

        </ul>
    </div>
</div>
